@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --first-background-color: #1B1B1B;
    --second-background-color: #242424;
    --text-color: #FFFFFF;
    --icons-filter-dark: brightness(0) saturate(100%) invert(15%) sepia(3%) hue-rotate(165deg) saturate(10%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-user-select: none;  /* Safari */
    -moz-user-select: none;     /* Firefox */
    -ms-user-select: none;      /* IE10+/Edge */
    user-select: none;          /* Стандартное свойство */

}

#root {
    width: 100vw;
    height: 100vh;
    padding: 0;
}

body::-webkit-scrollbar {
    width: 0;
}

html,
body {
    scrollbar-width: none;
    width: 100vw;
    /*height: 100vh;*/
    /*margin: 0;*/
    overflow-y: auto;
    overflow-x: hidden;
    background-color: var(--first-background-color);
    font-family: Montserrat, system-ui;
    color: var(--text-color);
    /*font-size: 16px;*/
}
