@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --first-background-dark: #2B2B2B;
    --second-background-dark: #242424;
    --text-color-dark: #FFFFFF;
    --icons-filter-dark: brightness(0) saturate(100%) invert(15%) sepia(3%) hue-rotate(165deg) saturate(10%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-user-select: none;  /* Safari */
    -moz-user-select: none;     /* Firefox */
    -ms-user-select: none;      /* IE10+/Edge */
    user-select: none;          /* Стандартное свойство */

}

html,
body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    background-color: var(--first-background-dark);
    font-family: Montserrat, system-ui;
    color: var(--text-color-dark);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.text-uppercase {
    text-transform: uppercase;
}
.font-bold{
    font-weight: 700;
}
.font-regular{
    font-weight: 400;
}
.separator{
    display: block;
    border: white 1px solid;
    opacity: 10%;
    height: 1px;
}